@charset "UTF-8";
header {
  position: relative; /* Para que las imágenes se posicionen dentro del header */
  height: 54vmax;
  overflow: hidden; /* Oculta cualquier desbordamiento */
  background-color: #0e1910;
}
header nav {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: end;
  height: 3vmax;
}
header nav .tracker {
  font-family: "Jockey One", system-ui;
  color: #ff6933;
  font-weight: bold;
  font-size: 300vmax;
  position: absolute;
  top: 0.5%;
  left: 2%;
  font-size: 3vmax;
  cursor: pointer;
}
header nav .tracker:hover {
  color: #FBF979;
}
header nav .navbar-nav {
  align-items: center;
  margin-top: 3vmax;
  margin-right: 1.5vmax;
}
header nav .nav-link {
  font-family: "Teko", sans-serif;
  color: rgb(251, 249, 121);
  font-size: 2vmax;
  cursor: pointer;
}
header nav .nav-link:hover {
  color: #ff6933;
}
header nav .falsoBoton {
  text-decoration: none;
  color: rgb(255, 253, 253);
  padding: 0.2vmax 3vmax;
  background-color: #fc6d39;
  border-radius: 10px;
  font-size: 1.7vmax;
  font-family: "Teko", sans-serif;
  text-align: center;
  margin-left: 1vmax;
}
header nav .falsoBoton:hover {
  color: rgb(252, 250, 150);
  background-color: #ff5e23;
}
header .textoPrincipal {
  font-family: "Jockey One", system-ui;
  color: rgb(251, 249, 121);
  font-weight: bold;
  font-size: 8vmax;
  position: absolute;
  text-align: center;
  top: 8%;
  left: 50%; /* 50% desde la parte izquierda del contenedor */
  transform: translateX(-50%);
  line-height: 0.9;
}
header .conectate {
  text-decoration: none;
  color: rgb(255, 253, 253);
  padding: 0.2vmax 2vmax;
  background-color: #fc6d39;
  border-radius: 10px;
  font-size: 1.8vmax;
  font-family: "Teko", sans-serif;
  position: absolute;
  text-align: center;
  top: 38%;
  left: 50%; /* 50% desde la izquierda */
  transform: translateX(-50%);
  cursor: pointer;
}
header .conectate:hover {
  color: rgb(253, 251, 121);
  background-color: #ff5e23;
}
header .anotherColor {
  color: #2eff4d;
}
header .fotoDesierto {
  width: 100%;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  z-index: 2; /* La imagen del desierto estará en el fondo */
  object-fit: contain; /* Comportamiento tipo cover */
  object-position: center; /* Centrar la imagen */
  /* image-rendering: auto; */ /* Mejora la calidad de la imagen renderizada */
  filter: contrast(110%);
  pointer-events: none;
}

/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 1400px) {
  .textoPrincipal {
    /* font-size: 12vmax; */
    /*  left: 29%;  */
  }
}
/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 1200px) {
  /* .nav-link {

      font-size: 3vmax;

  } */
  .textoPrincipal {
    /* font-size: 12vmax; */
    /*  left: 40%;  */
  }
  header nav .navbar-nav {
    /* align-items: center; */
    margin-top: 5vmax;
  }
  header nav .nav-link {
    font-size: 2.7vmax;
  }
  header nav .falsoBoton {
    font-size: 2.4vmax;
  }
  header nav .tracker {
    font-size: 4.2vmax;
  }
  header .fotoDesierto {
    /* top: 1vmax; */
  }
  header .textoPrincipal {
    /*  font-size: 11vmax;
    top: 15%;
    left: 30%; */
  }
  header .conectate {
    /*  font-size: 2.2vmax;
     top: 48%;
     left: 43%; */
  }
}
/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 992px) {
  /* header y nav */
  header {
    height: 66vmax;
  }
  header nav {
    /* .linksYBotones {
       top:2.2%;
       left: 72%;
       width: 40%;


     } */
    /* .linksYBotones p {
       font-size: 3vmax;

     } */
  }
  header nav .navbar-nav {
    align-items: center;
    margin-top: 5vmax;
    margin-right: 1.5vmax;
  }
  header nav .nav-link {
    font-size: 2.8vmax;
  }
  header nav .tracker {
    font-size: 4vmax;
  }
  header .fotoDesierto {
    /* top: 1vmax; */
  }
  header .textoPrincipal {
    font-size: 11vmax;
    top: 15%;
    /* left: 30%;  */
  }
  header .conectate {
    font-size: 2.2vmax;
    top: 48%;
    /* left: 43%; */
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 835px) {
  header {
    /* height: 73.6vmax; */
  }
  header .fotoDesierto {
    /* top: 22vmax; */
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 768px) {
  /* header y nav */
  header {
    height: 75vmax;
  }
  header nav {
    /*  .linksYBotones {

         left: 69%;



     } */
    /* .linksYBotones p {
        font-size: 3.3vmax;

    } */
  }
  header nav .navbar-nav {
    align-items: center;
    margin-top: 5vmax;
    margin-right: 1.5vmax;
  }
  header nav .nav-link {
    font-size: 3vmax;
  }
  header nav .tracker {
    font-size: 4.5vmax;
  }
  header .textoPrincipal {
    font-size: 12vmax;
    top: 17%;
    /*  left: 29%; */
  }
  header .conectate {
    font-size: 3vmax;
    top: 50%;
    /*  left: 43%; */
  }
  header .fotoDesierto {
    /* top: 10vmax */
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 636px) {
  header {
    height: 80vmax;
  }
  header nav {
    /* .linksYBotones {

        left: 60%;



    } */
    /* .linksYBotones p {
        font-size: 4vmax;

    } */
  }
  header nav .navbar-nav {
    align-items: center;
    margin-top: 8vmax;
    margin-right: 1.5vmax;
  }
  header nav .nav-link {
    font-size: 3.5vmax;
  }
  header nav .tracker {
    font-size: 5.5vmax;
  }
  header .textoPrincipal {
    font-size: 12vmax;
    top: 17%;
    /* left: 29%; */
  }
  header .conectate {
    font-size: 3.8vmax;
    top: 50%;
    /* left: 43%; */
  }
  header .fotoDesierto {
    /* top: 19vmax; */
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 576px) {
  header {
    height: 80vmax;
  }
  header nav .navContainer {
    background-color: #0e1910;
    z-index: 5;
  }
  header nav .tracker {
    z-index: 55;
  }
  header nav .falsoBoton {
    margin-bottom: 2vmax;
  }
  header nav .navbar-toggler {
    background-color: #FF6933;
    border: none !important;
    padding: 0.5vmax;
    margin-top: 1.2vmax;
  }
  header nav .borde {
    border: none;
  }
  header nav .navbar-toggler:focus,
  header nav .navbar-toggler:active {
    box-shadow: none; /* Elimina el sombreado alrededor del botón */
  }
  header .textoPrincipal {
    font-size: 11vmax;
    top: 19%;
    /* left: 28%; 
    transform: translateX(-50%); */
  }
  header .conectate {
    font-size: 3.5vmax;
    top: 52%;
    /* left: 41%;
    transform: translateX(-50%);  */
  }
  header .fotoDesierto {
    /*  top: 21vmax; */
    width: 90vmax;
  }
}
/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 500px) {
  header .textoPrincipal {
    /* font-size: 12vmax; */
    top: 19%;
    /* left: 25%; */
  }
  header .conectate {
    font-size: 3.5vmax;
    top: 52%;
    /*   left: 41%; */
  }
  header .fotoDesierto {
    /*  top: 21vmax; */
    width: 90vmax;
  }
}
/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 425px) {
  header .textoPrincipal {
    /*  font-size: 12vmax; */
    top: 19%;
    /*  left: 19%; */
  }
  header .conectate {
    font-size: 3.5vmax;
    top: 52%;
    /* left: 38%; */
  }
}
/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/
/* seccion segunda */
.logoMountainUnoContainer {
  height: 48vmax;
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  margin-top: 5vmax;
}
.logoMountainUnoContainer .logoContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-top: 8vmax;
}
.logoMountainUnoContainer .logoContainer .mountain1 {
  width: 70%;
  z-index: 55;
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.6s ease-in-out; /* Transición suave de 1 segundos */
}
.logoMountainUnoContainer .logoContainer .mountain1.visible {
  opacity: 1; /* Visible cuando se agrega la clase 'visible' */
}
.logoMountainUnoContainer .seccion1Letras {
  display: flex;
  justify-content: end;
  flex-flow: column;
  width: 50%;
}
.logoMountainUnoContainer .seccion1Letras .seccionTitulo {
  color: #ff6933;
  font-family: "Teko", sans-serif;
  font-size: 12vmax;
  margin-right: 3vmax;
}
.logoMountainUnoContainer .seccion1Letras .seccionParrafo {
  width: 45%;
  color: rgb(251, 249, 121);
  font-family: "Abel", sans-serif;
  font-weight: lighter;
  font-size: 1.2vmax;
}
.logoMountainUnoContainer .seccion1Letras .seccionParrafo .destacacion {
  font-size: 1.8vmax;
}
.logoMountainUnoContainer .seccion1Letras .seccionParrafo .destacacion2 {
  font-size: 1.8vmax;
  color: #2eff4d;
}
.logoMountainUnoContainer .seccion1Letras .olaContenedor .laOla {
  width: 45%;
}

.laOla2 {
  /*  width: 100%;
   position: relative;
   z-index: 4 */ /* ; */
  margin-top: -10vmax;
}

/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 992px) {
  .logoMountainUnoContainer {
    /* .laOla2 {
        margin-top: 10%;
    } */
  }
  .logoMountainUnoContainer .logoContainer {
    margin-top: 10vmax;
  }
  .logoMountainUnoContainer .seccion1Letras .seccionParrafo {
    width: 60%;
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 835px) {
  .logoMountainUnoContainer {
    margin-top: 7vmax;
    height: 50vmax;
    margin-bottom: 0;
  }
  .logoMountainUnoContainer .logoContainer {
    margin-top: 8vmax;
  }
  .logoMountainUnoContainer .seccion1Letras .seccionTitulo {
    color: #ff6933;
    font-family: "Teko", sans-serif;
    font-size: 10vmax;
    margin-right: 3vmax;
  }
  .logoMountainUnoContainer .seccion1Letras .seccionParrafo {
    width: 60%;
    font-size: 1.2vmax;
  }
  .logoMountainUnoContainer .seccion1Letras .olaContenedor .laOla {
    width: 60%;
  }
}
/* ++++++++++++++++++++++++ media query |  galaxy tab s7  | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 800px) {
  .logoMountainUnoContainer {
    margin-top: 7vmax;
    height: 43vmax;
    /*   .laOla2 {
          margin-top: 8%;
      } */
  }
  .logoMountainUnoContainer .logoContainer {
    margin-top: 8vmax;
  }
  .logoMountainUnoContainer .seccion1Letras .seccionTitulo {
    font-size: 9vmax;
  }
  .logoMountainUnoContainer .seccion1Letras .seccionParrafo {
    width: 70%;
    color: rgb(251, 249, 121);
    font-family: "Abel", sans-serif;
    font-weight: lighter;
    font-size: 1.2vmax;
  }
  .logoMountainUnoContainer .seccion1Letras .olaContenedor .laOla {
    width: 60%;
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 636px) {
  .logoMountainUnoContainer {
    margin-top: 7vmax;
    height: 47vmax;
  }
  .logoMountainUnoContainer .seccion1Letras .seccionTitulo {
    color: #ff6933;
    font-family: "Teko", sans-serif;
    font-size: 10vmax;
    margin-right: 3vmax;
  }
  .logoMountainUnoContainer .seccion1Letras .seccionParrafo {
    width: 60%;
    color: rgb(251, 249, 121);
    font-family: "Abel", sans-serif;
    font-weight: lighter;
    font-size: 1.2vmax;
  }
  .logoMountainUnoContainer .seccion1Letras .olaContenedor .laOla {
    width: 60%;
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 576px) {
  .logoMountainUnoContainer {
    margin-top: -5vmax;
    height: 80vmax;
    flex-flow: column nowrap;
    align-items: center;
  }
  .logoMountainUnoContainer .logoContainer {
    margin-bottom: 2vmax;
  }
  .logoMountainUnoContainer .seccion1Letras .seccionTitulo {
    color: #ff6933;
    font-family: "Teko", sans-serif;
    font-size: 10vmax;
    margin-right: 3vmax;
    width: 100%;
    text-align: center;
  }
  .logoMountainUnoContainer .seccion1Letras .seccionParrafo {
    width: 100%;
    font-size: 1.9vmax;
    text-align: center;
  }
  .logoMountainUnoContainer .seccion1Letras .olaContenedor .laOla {
    width: 100%;
  }
}
/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 500px) {
  .logoMountainUnoContainer {
    height: 70vmax;
    /*   .laOla2 {
          margin-top: 8%;
      } */
  }
  .logoMountainUnoContainer .logoContainer {
    width: 65%;
  }
  .logoMountainUnoContainer .seccion1Letras {
    width: 60%;
    /*  align-items: center; */
  }
  .logoMountainUnoContainer .seccion1Letras .seccionTitulo {
    font-size: 8vmax;
    margin-left: 0;
  }
  .logoMountainUnoContainer .seccion1Letras .seccionParrafo {
    align-self: center;
    width: 80%;
    font-size: 1.2vmax;
  }
  .logoMountainUnoContainer .seccion1Letras .olaContenedor {
    display: flex;
    justify-content: center;
  }
  .logoMountainUnoContainer .seccion1Letras .olaContenedor .laOla {
    width: 80%;
    text-align: center;
  }
}
/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 428px) {
  .logoMountainUnoContainer {
    height: 80vmax;
  }
  .logoMountainUnoContainer .seccion1Letras .seccionParrafo {
    width: 95%;
    font-size: 1.8vmax;
  }
  .logoMountainUnoContainer .seccion1Letras .olaContenedor {
    display: flex;
    justify-content: center;
  }
  .logoMountainUnoContainer .seccion1Letras .olaContenedor .laOla {
    width: 95%;
    text-align: center;
  }
}
/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/
/* seccion tercera */
.elijeTuAventura {
  height: 65vmax;
  background-color: #0e1910;
  padding: 20vmax 6vmax 0 6vmax;
  margin: -18vmax 0 0 0;
}
.elijeTuAventura .cardq, .elijeTuAventura .cardq2, .elijeTuAventura .cardqq {
  background-color: rgba(255, 255, 255, 0.045);
  border: solid rgba(255, 255, 255, 0.181) 2px;
  width: 20vmax;
  height: 31vmax;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  margin: 1vmax;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 10px 30px rgba(0, 0, 0, 0.633);
  overflow: hidden;
}
.elijeTuAventura .cardq .modeloImage, .elijeTuAventura .cardq2 .modeloImage, .elijeTuAventura .cardqq .modeloImage {
  width: 12vmax;
  margin-top: 2vmax;
  transition: transform 0.1s ease;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.863));
}
.elijeTuAventura .cardq .modeloImage:hover, .elijeTuAventura .cardq2 .modeloImage:hover, .elijeTuAventura .cardqq .modeloImage:hover {
  transform: scale(1.15);
}
.elijeTuAventura .cardq .modeloText, .elijeTuAventura .cardq2 .modeloText, .elijeTuAventura .cardqq .modeloText {
  margin-top: 1.5vmax;
  border-top: solid rgba(255, 255, 255, 0.281) 2px;
  padding: 8px 2px 2px 2px;
}
.elijeTuAventura .cardq .modeloText .modeloTitle, .elijeTuAventura .cardq2 .modeloText .modeloTitle, .elijeTuAventura .cardqq .modeloText .modeloTitle {
  color: rgb(251, 249, 121);
  font-size: 2vmax;
  font-family: "Jockey One", system-ui;
  text-align: center;
  letter-spacing: 1px;
}
.elijeTuAventura .cardq .modeloText .modeloDescription, .elijeTuAventura .cardq2 .modeloText .modeloDescription, .elijeTuAventura .cardqq .modeloText .modeloDescription {
  color: white;
  font-size: 1.1vmax;
  font-family: "Abel", sans-serif;
  margin: 2.5px;
  letter-spacing: 1px;
  padding: 0 10px;
}
/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 992px) {
  .elijeTuAventura {
    height: 120vmax;
    padding: 20vmax 8vmax 0 8vmax;
  }
  .elijeTuAventura .containerColum {
    display: flex;
    justify-content: center;
  }
  .elijeTuAventura .containerColum .cardq, .elijeTuAventura .containerColum .cardqq, .elijeTuAventura .containerColum .cardq2 {
    margin: 1vmax;
    width: 32vmax;
    height: 44vmax;
  }
  .elijeTuAventura .containerColum .cardq .modeloImage, .elijeTuAventura .containerColum .cardqq .modeloImage, .elijeTuAventura .containerColum .cardq2 .modeloImage {
    width: 15vmax;
    margin-top: 3.5vmax;
  }
  .elijeTuAventura .containerColum .cardq .modeloText, .elijeTuAventura .containerColum .cardqq .modeloText, .elijeTuAventura .containerColum .cardq2 .modeloText {
    margin-top: 1.8vmax;
    padding: 8px 2px 2px 2px;
  }
  .elijeTuAventura .containerColum .cardq .modeloText .modeloTitle, .elijeTuAventura .containerColum .cardqq .modeloText .modeloTitle, .elijeTuAventura .containerColum .cardq2 .modeloText .modeloTitle {
    color: rgb(251, 249, 121);
    font-size: 2.5vmax;
    font-family: "Jockey One", system-ui;
    text-align: center;
    letter-spacing: 1px;
  }
  .elijeTuAventura .containerColum .cardq .modeloText .modeloDescription, .elijeTuAventura .containerColum .cardqq .modeloText .modeloDescription, .elijeTuAventura .containerColum .cardq2 .modeloText .modeloDescription {
    color: white;
    font-size: 1.6vmax;
    font-family: "Abel", sans-serif;
    margin: 2.8px;
    letter-spacing: 1px;
    padding: 0 10px;
  }
  .elijeTuAventura .containerColum .cardq2 {
    margin: 1vmax 1vmax;
    width: 32vmax;
    height: 44vmax;
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 835px) {
  .elijeTuAventura {
    margin-top: -14vmax;
    padding: 20vmax 7vmax 0 7vmax;
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla tab varios  | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 800px) {
  .elijeTuAventura {
    margin-top: -14vmax;
    padding: 20vmax 3vmax 0 3vmax;
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 768px) {
  .elijeTuAventura {
    height: 120vmax;
    padding: 20vmax 6vmax 0 6vmax;
    margin: -18vmax 0 0 0;
  }
  .elijeTuAventura .cardq, .elijeTuAventura .cardqq, .elijeTuAventura .cardq2 {
    width: 23vmax;
    height: 33vmax;
  }
  .elijeTuAventura .cardq .modeloText, .elijeTuAventura .cardqq .modeloText, .elijeTuAventura .cardq2 .modeloText {
    margin-top: 2vmax;
  }
  .elijeTuAventura .cardq .modeloText .modeloDescription, .elijeTuAventura .cardqq .modeloText .modeloDescription, .elijeTuAventura .cardq2 .modeloText .modeloDescription {
    padding: 0 15px;
  }
  .elijeTuAventura .cardq2 {
    width: 23vmax;
    height: 33vmax;
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 576px) {
  .elijeTuAventura {
    margin-top: -13vmax;
    height: 250vmax;
  }
  .elijeTuAventura .cardq, .elijeTuAventura .cardqq, .elijeTuAventura .cardq2 {
    width: 24vmax;
    height: 48vmax;
  }
  .elijeTuAventura .cardqq {
    margin-top: 1vmax;
  }
}
/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 500px) {
  .elijeTuAventura {
    margin-top: -10vmax;
  }
}
/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 360px) {
  .elijeTuAventura {
    margin-top: -8vmax;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

/*# sourceMappingURL=styles.css.map */
