footer {
    width: 100%;
    height: 50vmax;
    background-color: $colorBackground;
    margin: 0 !important;
    
    

    .mountainFooter {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: -5vmax;

    }



    .contactosRow {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        margin-top: -6vmax;
        padding: 0 8vmax;

        .bloqueContacto {
            display: flex;
            
            
            justify-content: center;
            
               
    
            .gralContainer {
                display: flex;
                align-items: center;
                    
                
    
                i {
                    color: $colorTerciario;
                    font-size: 3vmax;
                    padding-bottom: 1vmax;
                        
                }

                i:hover {
                    color: $colorSecundario;
                        
                }
    
    
                .parolas {
                    display: flex;
                    flex-direction: column;
                    padding-left: 2vmax;
                    justify-content: center;
    
                    h5 {
                        font-family: $tipografiaFina;
                        font-weight: bold;
                        color: white;
                        justify-self: end;
                        margin: 0;
                        font-size: 2vmax;
                    }
    
                    p {
                        font-family: $tipografiaFina;
                        color: white; 
                        font-size: 1.2vmax;

                        a {
                            text-decoration: none;
                            color: white; 
                            font-size: 1.2vmax;
                        }
                        a:hover {
                            color: $colorTerciario;
                        }
                    }
                    
    
                }
            }
        }
    }    
    
  
        
   

    .linea {
        color: $colorTerciario;
        width: 70%;
        margin: 0 auto;
        border: 1px solid $colorTerciario;
        border-radius: 10px;
       
    }

    .bloque1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        /* logo y redes */

        .trackerFooter {

            a {
                text-decoration: none;
                font-family: $tipografiaPrincipal;
                color: $colorPrincipal;
                font-weight: bold;
                font-size: 5vmax;
                cursor: pointer ;
            }
        }
        .sociales {
            i {
                color: $colorSecundario;
                font-size: 2.3vmax;
                padding: 0 0.8vmax;

            }
            
            i:hover {
                color: $colorPrincipal;
            }

            
        }

    }

    .bloque2 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        line-height: 1;
        text-align: center;
        margin-top:1vmax;
        letter-spacing: 1px;

        /* textos */
        p {
            font-family: $tipografiaPrincipal; 
            font-weight: bold;
            font-size: 2.5vmax;
            color: $colorTerciario;
            
        }

        .span1 {
            color: $colorSecundario;
        }

        .span2 {
            
            color: $colorPrincipal;
        }
        
    }

    .bloque3 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        .qrTitulo {
            color: white;
            font-family: $tipografiaPrincipal;
            font-weight: 300;
        }

        /* imagenfinal */
        .imagenFinal {
            width: 7vmax;
            background-color: white;
            border-radius: 5px;
        }
    }

  




}

/* seccion derechos */
.derechosContainer {
    width: 100%;
    height: 3vmax;
    background-color: #0c140c;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .derechos {
        color: white;
        text-align: center;
        font-size: 0.9vmax;
        font-family: $tipografiaFina;
        font-weight: 500;
        margin: 0;
        padding: 0;
        letter-spacing: 0.2px;
        
    }
}















/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {

   
    
    
    
    
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {
    
    
  
    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

    footer {
    
        .contactosRow {
            padding: 0 5vmax;
        }

        .linea {
            width: 80%;
              
        }
    }


    

}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:835px) {

    .contactosRow {
        margin-top: -4vmax;
    }
    
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

     


   
   
    
     

}



/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:636px) {
    footer {
        height: 60vmax;
        .contactosRow {
            padding: 0 2vmax;
        }

        .linea {
            width: 80%;
              
        }
    }

}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

    footer {
        height: 130vmax;
        .bloque3 {

            .qrTitulo {
                color: white;
                font-family: $tipografiaPrincipal;
                font-weight: 300;
                font-size: 1.8vmax;
                text-align: center;
            }
        }

        

           
           

        .contactosRow {
               
                
            justify-content: center;
            margin-top: -2vmax;
               
               


            .bloqueContacto {
                    

                .gralContainer {
                    flex-direction: column;
                    text-align: center;
                        
                    margin-bottom: 2vmax;


                    i {
                        font-size: 3vmax;
                        padding-bottom: 1vmax;
                            
                    }
            
            
                    .parolas {
                        padding-left: 0vmax;
                            
            
                        h5 {
                            font-size: 2.5vmax;
                            margin-bottom: 1vmax;
                        }
            
                        p { 
                            font-size: 1.8vmax;
                        }
                           
            
                    }
                       


                }
                   
                    
            }
                   
               
        }

        .bloque1 {
    
            /* logo y redes */
    
            .trackerFooter {
                font-size: 8vmax;
                
            }
            .sociales {
                i {
                    
                    font-size: 3.8vmax;
                    padding: 0 0.8vmax;
    
                }
    
                
            }
    
        }
    
        .bloque2 {
            line-height: 1;
            margin-top:1vmax;
            letter-spacing: 1px;
    
            /* textos */
            p {
                font-size: 4vmax;
                    
            }
            
        }
    
        .bloque3 {
    
            .qrTitulo {
                color: white;
                font-family: $tipografiaPrincipal;
                font-weight: 300;
                font-size: 2vmax;
            }
    
            /* imagenfinal */
            .imagenFinal {
                width: 12vmax;
                background-color: white;
                border-radius: 5px;
            }
        }


        
    }

    /* seccion derechos */
    .derechosContainer {
        
        height: 3vmax;
        background-color: #0c140c;
        display: flex;
        justify-content: center;
        align-items: center;
        

        .derechos {
            color: white;
            text-align: center;
            font-size: 1.2vmax;
            font-family: $tipografiaFina;
            font-weight: 500;
            margin: 0;
            padding: 0;
            letter-spacing: 0.2px;
            
        }
    }
    

}

/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:500px) {
    footer {
        height: 150vmax;

        .contactosRow {
            
            .bloqueContacto {
                    

                .gralContainer {
                  
                    i {
                        font-size: 4vmax;
                        
                            
                    }
            
            
                    .parolas {
                        
                            
            
                        h5 {
                            font-size: 3.5vmax;
                            
                        }
            
                        p { 
                            font-size: 2.3vmax;
                        }
                           
            
                    }
                       


                }
                   
                    
            }
                   
               
        }
    }
    
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:425px) {
   
   
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:360px) {
    
}

