


/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {

   
    
    .textoPrincipal {
        /* font-size: 12vmax; */
       
        left: 29%; 
    }
    
    
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {
    
    /* .nav-link {
                
        font-size: 3vmax;
        
    } */

    .textoPrincipal {
        /* font-size: 12vmax; */
       
       /*  left: 40%;  */
    }
    header {
    
        nav {
           
            .navbar-nav {
                /* align-items: center; */
                margin-top: 5vmax;
               
            }
  
            .nav-link {
                  
                font-size: 2.7vmax;
                  
            }
      
            .falsoBoton {
                font-size: 2.4vmax;
            }
      
            .tracker {
                font-size: 4.2vmax;
            }
        }
      
  
        .fotoDesierto {
            /* top: 1vmax; */
        } 
        
        .textoPrincipal {
           /*  font-size: 11vmax;
           top: 15%;
           left: 30%; */ 
        }
    
        .conectate {
           /*  font-size: 2.2vmax;
            top: 48%;
            left: 43%; */
        }
  
  
  
  
    } 
  
    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

  /* header y nav */  

    header {
      height: 66vmax;

        
      
        nav {
         /* .linksYBotones {
            top:2.2%;
            left: 72%;
            width: 40%;
          
        
          } */
        
         /* .linksYBotones p {
            font-size: 3vmax;
               
          } */

           .navbar-nav {
                align-items: center;
                margin-top: 5vmax;
                margin-right: 1.5vmax;
            }

            .nav-link {
                
                font-size: 2.8vmax;
                
            }
    
            .falsoBoton {
               
            }
    
            .tracker {
                font-size: 4vmax;
            }
        }
    

        .fotoDesierto {
          top: 1vmax;
        } 
      
        .textoPrincipal {
          font-size: 11vmax;
         top: 15%;
         left: 30%; 
        }
  
        .conectate {
          font-size: 2.2vmax;
          top: 48%;
          left: 43%;
        }




    } 


    

}




/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

    /* header y nav */  

   header {
       height: 75vmax;
       
        nav {

           /*  .linksYBotones {
        
                left: 69%;
               
              
            
            } */
            
            /* .linksYBotones p {
                font-size: 3.3vmax;
                   
            } */


            .navbar-nav {
                align-items: center;
                margin-top: 5vmax;
                margin-right: 1.5vmax;
            }

            .nav-link {
                
                font-size: 3vmax;
                
            }
        
            .falsoBoton {
                
            }
        
            .tracker {
                font-size: 4.5vmax;
            }

        }

        .textoPrincipal {
            font-size: 12vmax;
            top: 17%;
            left: 29%; 
        }
        
        .conectate {
            font-size: 3vmax;
             top: 50%;
            left: 43%;
        }
        
        
        .fotoDesierto {
          top: 10vmax
        } 
            

    }  


   
   
    
     

}



/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:636px) {
    header {
        height: 80vmax;
        
        nav {
 
            /* .linksYBotones {
         
                left: 60%;
                
               
               
            } */
             
            /* .linksYBotones p {
                font-size: 4vmax;
                    
            } */

            .navbar-nav {
                align-items: center;
                margin-top: 8vmax;
                margin-right: 1.5vmax;
            }

            .nav-link {
                
                font-size: 3.5vmax;
                
            }
         
            .falsoBoton {
                  
            }
         
            .tracker {
                font-size: 5.5vmax;
            }
 
        }
 
        .textoPrincipal {
            font-size: 12vmax;
            top: 17%;
            left: 29%; 
        }
         
        .conectate {
            font-size: 3.8vmax;
            top: 50%;
            left: 43%;
        }
         
         
        .fotoDesierto {
            top: 19vmax;
        } 
             
 
    }  
 

}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

    header {
        height: 80vmax;
        
        nav {

            .navContainer {
                background-color: #0e1910;
                z-index: 5;
            }
            
            .tracker {
               z-index: 55;
            }
 
         
            .falsoBoton {
              margin-bottom: 2vmax;  
            }
         
            .navbar-toggler {
                background-color: #FF6933;
                border: none !important;
                padding: 0.5vmax;
                
            }
    
            .borde {
                border: none;
            }

            .navbar-toggler:focus,
            .navbar-toggler:active {
                box-shadow: none; /* Elimina el sombreado alrededor del botón */
            }
    
 
        }
 
        .textoPrincipal {
            font-size: 11vmax;
            top: 19%;
            left: 28%; 
            transform: translateX(-50%); 
        }
         
        .conectate {
            font-size: 3.5vmax;
            top: 52%;
            left: 41%;
            transform: translateX(-50%); 
        }
         
         
        .fotoDesierto {
            top: 21vmax;
            width: 90vmax;
        } 
             
 
    }  
    

}

/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:500px) {
    header {

        .textoPrincipal {
            /* font-size: 12vmax; */
            top: 19%;
            left: 25%; 
        }

        .conectate {
            font-size: 3.5vmax;
            top: 52%;
            left: 41%;
        }
        .fotoDesierto {
            top: 21vmax;
            width: 90vmax;
        } 
    }
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:425px) {
    header {
        .textoPrincipal {
           /*  font-size: 12vmax; */
            top: 19%;
            left: 19%; 
        }

        .conectate {
            font-size: 3.5vmax;
            top: 52%;
            left: 38%;
        }

    }
   
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:320px) {
   
}