/* seccion tercera */


.elijeTuAventura {
    height: 60vmax;
    width: 100%;
    background-color: $colorBackground;
   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: -18vmax 0 0 0;
    


    .cardq {
        background-color: rgba(255, 255, 255, 0.045);
        border: solid rgba(255, 255, 255, 0.181) 2px;
        width: 19vmax;
        height: 31vmax;
        border-radius: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content:center;
        align-items: start;
        margin: 20vmax 1vmax;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 10px 30px rgba(0, 0, 0, 0.633);
        overflow: hidden;
       

        .modeloImage {
            width: 12vmax;
            margin-top: 2vmax;
            transition: transform 0.1s ease;
            filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.863));
            
        }

        .modeloImage:hover {
            transform: scale(1.15); 
        }


        .modeloText {
            margin-top: 1.5vmax;
            border-top: solid rgba(255, 255, 255, 0.281) 2px;
            padding: 8px 2px 2px 2px;
            

            .modeloTitle {
                color: $colorSecundario;
                font-size: 2vmax;
                font-family: $tipografiaPrincipal;
                text-align: center;
                letter-spacing: 1px;
            }
    
            .modeloDescription {
                color: white;
                font-size: 1.1vmax;
                font-family: $tipografiaFina;
                margin:2.5px;
                letter-spacing: 1px;

            }
    
        }



    }
}











/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {

   
    
    
    
    
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {
    
    
  
    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

  


    

}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:835px) {

    .elijeTuAventura {
        margin-top: -14vmax;
    }
    
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

     


   
   
    
     

}



/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:636px) {
    

}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

    .elijeTuAventura {
        margin-top: -13vmax;
    }
    

}

/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:500px) {
    
    .elijeTuAventura {
        margin-top: -10vmax;
    }
    
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:425px) {
   
   
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:360px) {

    .elijeTuAventura {
        margin-top: -8vmax;
    }
}

