$colorPrincipal: #ff6933;
$colorSecundario: rgb(251, 249, 121);
$colorTerciario: #2eff4d;
$colorBackground: #0e1910;


$tipografiaPrincipal: "Jockey One", system-ui;
$tipografiaSecundaria: "Teko", sans-serif;
$tipografiaFina: "Abel", sans-serif;