* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative; /* Para que las imágenes se posicionen dentro del header */
    height: 100%; /* Puedes ajustar el tamaño según necesites */
    overflow: hidden; /* Oculta cualquier desbordamiento */
    background-color: #1d3120;
    

}

nav {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: end;
    height: 3vmax;
}

.tracker {
    font-family: "Jockey One", system-ui;
    color: #ff7847;
    font-weight: bold;
    font-size: 3vmax;
    position: absolute;
    top:0.5%;
    left: 2%;
    font-size: 3vmax;
}

.linksYBotones {
    color: white;
    font-family: "Teko", sans-serif;
    display: flex;
    flex-flow: row;
    justify-self: center;
    align-items: center;
    position: absolute;
    top:1.5%;
    left: 76%;
    width: 40%;
  

}

.linksYBotones p {
    font-size: 2vmax;
    margin-left: 1vmax;
    margin-right: 1vmax;
    
    
}

.falsoBoton {
    font-size: 1.8vmax;
    margin-left: 0.5vmax;
    
    padding: 0.2vmax 0.9vmax;
    background-color: #ff7847;
    border-radius: 10px;
    
}


.textoPrincipal {
    font-family: "Jockey One", system-ui;
    color: white;
    font-weight: bold;
    font-size: 8vmax;
    position: absolute;
    text-align: center;
    top: 9%;
    left: 35%;
    line-height: 0.8;
}

.anotherColor {
    color: #2eff4d;
}

.fotoDesierto {
    width: 100%;
    position: relative;
    /* filter: drop-shadow(0px -20px 30px rgba(0, 0, 0, 0.8)); */
    top: -11vmax;
    left: 0;
    z-index: 2; /* La imagen del desierto estará en el fondo */
    object-fit: contain; /* Comportamiento tipo cover */
    object-position: center; /* Centrar la imagen */
    filter: contrast(1.1) brightness(1.2) saturate(1) /* drop-shadow(0px -20px 30px rgb(0, 0, 0)) */; /* Mejora visual */
    image-rendering: auto; /* Mejora la calidad de la imagen renderizada */
}



